@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;        /* 设置同一行子元素在y轴的对齐方式 */
  justify-content: center;    /*设置同一行子元素在X轴的对齐方式*/
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
